<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/registros.js">
    <link rel="stylesheet" href="/public/styles.css">
    <script src="index.js"></script>
    <title>Document</title>
    
</head>
<body>
    <section class="main">

        <figure class="main_figure">
            <img src="./Image20230626110502.jpg" class="main_img">
        </figure>

        <div class="main_contact">
            <h2 class="main_title">BIENVENIDOS</h2>
            <p class="main_parrafo">Ingresa tus datos</p>
        

            <form class="main_form" action="http://localhost:3000/api/consul/" method="POST">

            <div class="container">
                <input type="radio" id="sitemas" name="opciones">
                <label for="sitemas">Análisis de Sistemas</label> 

                <input type="radio" id="agraria" name="opciones">
                <label for="agraria">Agraria</label> 

            </div>
            <input type="text" class="main_input" placeholder="Nombres y apellidos" id="NOMBRES_APELLIDOS" name="NOMBRES_APELLIDOS">
            <input type="text" placeholder="Escribe tú correo" class="main_input" id="EMAIL" name="EMAIL">
            <textarea name="MSG" id="MSG" class="main_input" placeholder="¿En qué podemos ayudarlo?"></textarea>
            <input type="password" placeholder="Contraseña" class="main_input" id="PASSWORD" name="PASSWORD">
            <a class="c_olvido" href="#">¿Olvidó su contraseña?</a>
            <input type="submit" value="Entrar" class="main_input_send">

            <section>
                <input type="checkbox" id="check">
                <label for="check">No cerrar sesión</label>
            </section>

        </form>

        <input type="checkbox" id="parrafo" name="click">
        <label for="parrafo">Aceptar la política de privacidad de los Términos y condiciones.</label> 
        
        <p class="main_paragranph">Ingresar de otro modo</p>

        <article class="main_social">
            <a href="https://www.facebook.com/" class="main_link">
                <img src="./Image20230626110231.png" class="main_icon">
            </a>
            <a href="https://github.com/topics/login" class="main_link">
                <img src="./Image20230626110439.png" class="main_icon">
            </a>
            <a href="https://accounts.google.com/signin" class="main_link">
                <img src="./Image20230626110447.png" class="main_icon">
            </a>

        </article>
    </div>
    </section>

    <script src="/public/registros.js"></script>
    <script src="./index.js"></script> 
</body>
</html>