/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/img/Image20230626110456.jpg');
    background-size: cover;
    background-repeat: no-repeat;      
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main_figure {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .main_img {
    width: 270px;
    height: 180px;
  }
  
  .main_title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  .main_parrafo {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .main_form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    margin-bottom: 15px;
  }
  
  .main_input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .c_olvido{
    color: black;
    text-decoration: none;
  }
  
  .main_input_send {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .main_input_send:hover{
    background-color: #00edfb;
  }
  
  .parrafo {
    font-size: 52px;
    margin-bottom: 5px;
  }
  

  

  
